@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }

  @keyframes faqSlideIn {
    0% {
      transform: scale(0) translateY(100px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  @keyframes faqSlideOut {
    0% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
    100% {
      transform: scale(0) translateY(100px);
      opacity: 0;
    }
  }
}
